// Colors
:root {
  --black: #010101;
  --white: #fff;
  --cream: #f2ece5;
  --cream-dark: #b39e8a;
  --cream-oddity: #dbc8b6;
}

// Shades of gray
$gray-1: #263238;
$gray-2: #586674;
$gray-3: #6f8590;
$gray-4: #e3e6e8;
$gray-5: #e2e6e9;
$gray-6: #f5f7f8;
$gray-7: rgba(38, 50, 56, 0.1);
